@font-face {
    font-family: "montserrat";
    src: url(../exercice5/Montserrat-Regular.ttf);
}

body {
    background-color: rgb(255, 243, 137);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.pop {
    background-color: white;
    padding: 5rem 5rem;
    text-align: center;
    font-family: "montserrat";
}

p {
    font-family: "montserrat";
}

input {
    margin-top: 10vh;
}

svg {
 display: none;
}
.svg {
  animation: anim 3s infinite;
}

@keyframes anim {
  50% {
    stroke-dashoffset: 0;
    fill: rgb(255, 243, 137);
  }
  100% {
    fill: #141414;
    stroke-dashoffset: 0;
  }
}