@font-face {
    font-family: "montserrat";
    src: url(../exercice5/Montserrat-Regular.ttf);
}

body {
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bouton {
    font-family: "montserrat";
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
}