
span {
    font-weight: bold;
}

section {
    margin : 5rem 5rem;
}

article {
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    padding: 1rem;
    width: 80%;
}

h1 {
    margin: 2rem 1rem;
}

#home {
    width: 80%;
}

.diff {
    float: left;
}

.p_section1 {
    width: 50%;
}