@font-face {
    font-family: "anaheim";
    src: url(../exercice1/font/Anaheim-Regular.ttf);
}

@font-face {
    font-family: "helvetica";
    src: url(../exercice1/font/Helvetica.otf);
}


body {
    background-color: #6C63FF;
    color: white;
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 50%;
}

li {
    list-style: none;
    border: 3px solid rgb(62, 62, 196);
    border-radius: 10px;
    padding: .5rem 1rem;
    border-radius: 50px;
    background: #6C63FF;
    box-shadow:  5px 5px 10px #564fcc,
                -5px -5px 10px #8277ff;
}

li:hover{
    border: .1rem solid blueviolet;
}

li:nth-child(4):hover{
    border: .1rem solid green;
}

p {
    width: 50%;
    margin: 5rem 0rem;
    font-family: "helvetica";
    font-size: 1.5rem;
}

main {
    padding:5rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

h1 {
    text-align: center;
    font-family: "anaheim";
}

h2, h3 {
    font-family: "anaheim";
}

h2:nth-child(3) {
    margin-left: 5rem;
}

h2:nth-child(4){
    margin-left: 10rem;
}

h3:nth-child(5){
    margin-left: 5rem;
}

main * {
    grid-column: 1;
}
img {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;
    align-self: flex-end;
}

@media screen and (max-width: 1024px){
    main {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    p {
        width: 100%;
        margin: 1rem 0rem;
    }

    ul {
        width: 100%;
    }

    img {
        width: 20rem;
        height: auto;
    }

    h1 {
        margin: 0;
    }
}
