@font-face {
    font-family: "helvetica";
    src: url(font/Helvetica.otf);
}

@font-face {
    font-family: "anaheim";
    src: url(font/Anaheim-Regular.ttf);
}

body {
    margin: 0;
    background-color: #232323;
}

h1, h2 {
    font-family: "anaheim";
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt {
    margin: 10rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background-color: white;
}

main p {
    text-align: center;
    font-family: "helvetica";
    letter-spacing: .5rem;
    line-height: 3rem;
}

.description span:nth-child(1){
    color: red;
}

.description span:nth-child(4){
    color:royalblue;
}

.description span:nth-child(3){
    color:salmon;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding:2rem 0rem;
    background-color: #232323;
}

header img {
    padding: 2rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #222222, #1d1d1d);
    box-shadow:  20px 20px 57px #0f0f0f,
             -20px -20px 57px #313131;   
}

.souligne {
    text-decoration: underline;
}

article p {
    letter-spacing: normal;
    line-height: normal;
}

table {
    border: 1px solid white;
    width: 70%;
}

td {
    border: 1px solid rgb(172, 172, 172);
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    color: white;
    background-color: #232323;
}

.parallax {
    height: auto;
    width: 100%;
    background-image: url(img/code.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
    section {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    hr {
        display: none;
    }
}